.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: -15px;
}

.clients__item {
  margin: 15px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: var(--icon-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  @include mq(mobile) {
    width: 210px;
  }
  @include mq(tablet) {
    width: 226px;
  }
  @include mq(desktop) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}
